@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
	* {
		@apply text-foreground;

		@apply border-border;
	}
}

@layer base {
	:root {
		--background: 30 20% 95%;
		--foreground: 30 20% 10%;
		--card: 30 20% 97%;
		--card-foreground: 30 20% 10%;
		--popover: 30 20% 97%;
		--popover-foreground: 30 20% 10%;
		--primary: 25 80% 40%;
		--primary-foreground: 25 80% 98%;
		--secondary: 45 70% 50%;
		--secondary-foreground: 45 70% 10%;
		--muted: 30 15% 85%;
		--muted-foreground: 30 15% 40%;
		--accent: 15 80% 50%;
		--accent-foreground: 30 20% 95%;
		--destructive: 0 80% 50%;
		--destructive-foreground: 0 80% 98%;
		--border: 30 20% 80%;
		--input: 30 20% 80%;
		--ring: 25 80% 40%;
		--radius: 0.5rem;
		--chart-1: 25 80% 40%;
		--chart-2: 45 70% 50%;
		--chart-3: 15 80% 50%;
		--chart-4: 35 80% 40%;
		--chart-5: 55 70% 50%;
	}

	.dark {
		--background: 30 30% 10%;
		--foreground: 30 20% 95%;
		--card: 30 30% 12%;
		--card-foreground: 30 20% 95%;
		--popover: 30 30% 12%;
		--popover-foreground: 30 20% 95%;
		--primary: 25 80% 50%;
		--primary-foreground: 25 80% 10%;
		--secondary: 45 70% 60%;
		--secondary-foreground: 45 70% 10%;
		--muted: 30 25% 25%;
		--muted-foreground: 30 15% 70%;
		--accent: 15 80% 60%;
		--accent-foreground: 15 80% 10%;
		--destructive: 0 80% 60%;
		--destructive-foreground: 0 80% 10%;
		--border: 30 30% 30%;
		--input: 30 30% 30%;
		--ring: 25 80% 50%;
		--radius: 0.25rem;
		--chart-1: 25 80% 50%;
		--chart-2: 45 70% 60%;
		--chart-3: 15 80% 60%;
		--chart-4: 35 80% 50%;
		--chart-5: 55 70% 60%;
	}
}

@layer base {
	* {
		scrollbar-width: thin;
		scrollbar-color: hsl(var(--border)) transparent;
	}
	html {
		@apply scroll-smooth;
	}
	body {
		@apply bg-background text-foreground overscroll-none;
		/* font-feature-settings: "rlig" 1, "calt" 1; */
		font-synthesis-weight: none;
		text-rendering: optimizeLegibility;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	@supports (font: -apple-system-body) and (-webkit-appearance: none) {
		[data-wrapper] {
			@apply min-[1800px]:border-t;
		}
	}

	::-webkit-scrollbar {
		width: 5px;
	}
	::-webkit-scrollbar-track {
		background: transparent;
	}
	::-webkit-scrollbar-thumb {
		background: hsl(var(--border));
		border-radius: 5px;
	}
}
